<header>
    <nav class={{if toggle_display "navbar navbar-expand-md navbar-dark fixed-top bg-dark" "navbar navbar-expand-md navbar-light bg-light fixed-top"}}>
        <a class="navbar-brand" href="">Stories</a>
        <label class="switch">
            {{input type="checkbox" checked=toggle_view}}
            <span class="slider round"></span>
        </label>
    </nav>
</header>

<main role="main">
    <div class="container floating-panel">
        <div id="carouselID" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            {{#each-in story_data as |index story|}}
                <div class={{if (eq index '0') "carousel-item video-div active" "carousel-item video-div"}}>
                    <video id={{story.id}} loop muted playsinline autoplay src={{story.images.original_mp4.mp4}} poster={{story.images.original_still.url}} {{action "stopAutoPlay" story.id}}>
                    </video>
                </div>
            {{/each-in}}
        </div>
        <a class="carousel-control-prev" href="#carouselID" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselID" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
        </div>
    </div>
</main>